@model FitzCheckout.Models.ChecklistVM

@{
    ViewBag.Title = "Select Fuel";
}

<h2>Select Fuel</h2>

@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <h4>Select Fuel Type for @Model.MetaDataValue6</h4>
        <hr />
        <div class="form-group" style="font-size:x-large">
            <div>
                <input type="radio" name="FuelType" value="('ALL', 'ICHYBRID', 'IC')" />
                <label>Gasoline/Diesel</label>
            </div>
            <div>
                <input type="radio" name="FuelType" value="('ALL', 'ICHYBRID', 'HYBRID')" />
                <label>Hybrid</label>
            </div>
            <div>
                <input type="radio" name="FuelType" value="('ALL', 'EV')" />
                <label>EV</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
