@using FitzCheckout.Models
@model SupervisorViewDisplayVM
@{
    ViewBag.Title = "ViewInspection";
    Layout = "~/Views/Shared/_SupervisorLayout.cshtml";
}
<head>
    <script type="text/javascript" src="~/Scripts/SupervisorView.js"></script>
</head>


    @using (Html.BeginForm("ViewInspection", "Supervisor", FormMethod.Post, new { enctype = "multipart/formdata" }))
    {
        Html.RenderPartial("_Details", Model.checklistInfo);

        @Html.HiddenFor(m => m.checklistInfo.RecordID)
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Change Inspection Status</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <select class="form-control" id="statusList">
                                <option>Select One</option>
                                <option value="FitzWayUsed">FitzWay Used</option>
                                <option value="FitzWayValue">FitzWay Value</option>
                                <option>Handyman</option>
                                <option>Wholesale</option>
                                <option value="RepairForRetail">Repair for Retail</option>
                                <option value="Reopen">Re-open</option>
                            </select>
                        </div>
                        <div class="form-group" id="techniciansDiv" style="display:none">
                            <select id="technicians" class="form-control">
                                <option value="-1">Select One</option>
                                @for (int i = 0; i < Model.Users.Count; i++)
                                {
                                    <option value='@Model.Users[i].ID'>@Model.Users[i].FullName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        <button id="saveStatus" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    }

